body {
  margin: 0;
  font-family: 'Asap Condensed', sans-serif; /* Use Asap+Condensed font */
  background-color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  background-color: white;
}

.logo {
  background-color: #0d786b;
  color: white;
  padding: 60px 35px;
  border-radius: 1px;
  font-weight: 350;
  margin-right: 0px;
  margin-left: 45px;
  cursor: pointer;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif; /* Use Montserrat font  */
}

nav {
  display: flex;
  gap: 0px;
}

.nav-button {
  font-family: 'Asap Condensed', sans-serif; /* Use Asap Condensed font */
  background: none;
  border: none;
  color: #000000;
  padding: 10px 20px;
  font-weight: 450;
  font-size: 21px;
  text-indent: 2cm;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-button:hover {
  color: #005f5f;
}

.sign-in-button {
  font-family: 'Asap Condensed', sans-serif; /* Use Asap Condensed font */
  background-color: #0d786b;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 1px;
  font-weight: 350;
  font-size: 18px;
  margin-left: 0px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sign-in-button:hover {
  background-color: #005f5f;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: left;
  cursor: pointer;
  padding: 50px;
}

.line {
  width: 35px;
  height: 4px;
  background-color: #0d786b;
  margin: 3px; 
  border-radius: 3px; /* Rounded corners */
}

.map-container {
  height: 75vh; /* Full height of the viewport */
  width: 75%; /* Full width */
  margin: 0 auto; /* Center horizontally */
  padding: 20px;
}

#map {
  height: 100%; /* Full height of the container */
  width: 100%; /* Full width */
  border: 0px solid #0d786b; /* Custom border */
  border-radius: 5px; /* Rounded corners */
  
}
