body {
  margin: 0;
  font-family: 'Oswald', sans-serif; /* Use Oswald font */
  background-color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  background-color: white;
}

.logo {
  background-color: #0d786b;
  color: white;
  padding: 55px 45px;
  border-radius: 0;
  font-weight: 350;
  margin-right: 0px;
  margin-left: 45px;
  cursor: pointer;
  font-size: 24px;
  font-family: 'Oswald', sans-serif; /* Use Oswald font */
}

nav {
  display: flex;
  gap: 0px;
}

.nav-button {
  font-family: 'Oswald', sans-serif; /* Use Oswald font */
  background: none;
  border: none;
  color: #000000;
  padding: 10px 10px;
  font-weight: 450;
  font-size: 18px;
  text-indent: 2cm;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-button:hover {
  color: #005f5f;
}

.sign-in-button {
  font-family: 'Oswald', sans-serif; /* Use Oswald font */
  background-color: #0d786b;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 1px;
  font-weight: 350;
  font-size: 18px;
  margin-right: 0px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sign-in-button:hover {
  background-color: #005f5f;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  padding: 20px;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #0d786b;
  margin: 3px; 
  border-radius: 1px; /* Rounded corners */
}

.map-container {
  height: 75vh; /* Full height of the viewport */
  width: 75%; /* Full width */
  margin: 0 auto; /* Center horizontally */
  padding: 20px;
}

#map {
  height: 100%; /* Full height of the container */
  width: 100%; /* Full width */
  border: 0px solid #0d786b; /* Custom border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
}
